@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

.card {
  font-family: "IBM Plex Serif", serif;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

div.card-body h1 {
  font-size: 8rem;
}

h2 {
  font-size: 5rem;
}

.rotate {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
